/* Variables */
:root {
  --ff-black: #252525;
  --ff-blue: #173c9e;
  --ff-red: #c54042;
  --ff-purple: #6060EB;
  --ff-green: #0f783b;
  --ff-teal: #2C7A8C;
  --ff-media-xl: 1240px;
}
/* Containers */
* {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Gotham, Montserrat, Arial;
}
h1, h2 ,h3, h4 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Gotham, Arial;
}
h1 {
  font-weight: 900;
}
a {
  color: var(--ff-red);
}
.container {
  margin-top: 120px;
  max-width: var(--ff-media-xl);
  margin: 0 auto;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
main, footer {
  padding: 0 48px;
}
@media (max-width: 768px) {
  main, footer {
    padding: 0 20px;
  }
  p {
    text-align: justify;
  }
}
.text-justify {
  text-align: justify;
}

.offscreen-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* H elements */
.header-0s {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
}
.header-1 {
  font-size: 3rem;
  font-weight: 800;
}
.header-1-alt {
  font-weight: 300;
  color: var(--ff-blue);
}
.header-2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--ff-blue);
}
.header-3 {
  font-weight: 400;
  font-size: 2rem;
}
.header-4 {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--ff-blue);
}
.header-5 {
  font-weight: 600; 
}

/* Header */
.navbar {
  padding: 0 10px;
}
.navbar nav a {
  text-transform: uppercase;
  color: var(--ff-black);
  text-decoration: none;
}
@media (min-width: 700px) {
  .navbar {
    position: sticky;
    top: 0;
    height: 80px;
    padding-top: 14px;
    background: white; 
    z-index: 100;
  }
  .navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar nav a {
    border-right: 1px solid var(--ff-black);
    line-height: 20px;
    font-size: 16px;
    height: 20px;
    margin-right: 8px;
    padding-right: 8px;
    margin-top: 16px;
  }
  .navbar nav a:hover {
    text-decoration: underline;
  }
  .navbar nav a:first-child {
    margin-right: auto;
    margin-top: 0;
  }
  .navbar nav a:last-child, .navbar nav a:first-child {
    border-right: none;
  }
}
@media (max-width: 700px) {
  .navbar {
    position: static;
  }
  .navbar nav {
    flex-direction: column;
  }
  .navbar nav a {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}

/* Home Blocks */
/* .block {
  margin: 0 auto;
} */
.showcase {
  color: var(--ff-blue);
  letter-spacing: 3px;
  font-weight: bolder;
}
.max-img {
  max-width: 100%;
}
.register-link {
  color: white;
  background: var(--ff-blue);
  padding: 6px 100px;
  text-decoration: none;
  text-transform: uppercase;
}
.register-link-alt {
  color: white;
  background: var(--ff-red);
  padding: 6px 80px;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .register-link, .register-link-alt {
    padding: 6px 20px;
  }
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.footer-logo {
  margin-right: 30px;
}
.footer-text {
  line-height: 24px;
}

/* Share */
.share {
  background: #b8343e;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 100;
  padding: 2px;
}
.share li {
  list-style: none;
  padding: 12px 6px;
}
.share li img {
  width: 20px;
}
@media (max-width: 768px) {
  .share {
    margin: 0;
    position: static;
    display: flex;
    justify-content: center;
  }
  .share li a {
    display: inline-block;
    vertical-align: middle;
  }
}

/* Margins */
.push-top-sm {
  margin-top: 25px;
}
.push-top-md {
  margin-top: 50px;
}
.push-top-xl {
  margin-top: 150px;
}
.clear-margin-top {
  margin-top: 0;
}
.clear-margin-bottom {
  margin-bottom: 0;
}