{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="bg-primary">
  <div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8">
        <h1>Introducing FuturesFest20! Provide input about this year's theme.</h1>
        <a href="#" class="button">Add your input</a>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-4">IMG HERE</div>
    <div class="col-12 col-md-8">
      <div class="pre-header">ABOUT THE EVENT</div>
      <h2>What we are</h2>
      <p>The Association of Professional Futurists (APF) is a growing community of futurists dedicated to promoting professional excellence and demonstrating the value of strategic foresight and futures studies. APF hosts online discussions such as the Futures Festival, an annual 12-hour virtual gathering, and offers professional development programs and recognition for excellence in futures. The annual APF Futures Festival is an opportunity for people across the globe to share projects, insights, experiences, and ideas.</p>
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>


{{ end }}